modules = ["python-3.12"]
run = "python main.py"

[nix]
channel = "stable-23_11"

[deployment]
run = ["python3", "main.py"]

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 7000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 8000
externalPort = 80
