flask
wheel
gunicorn
python-dotenv
openai
langchain-openai
aiohttp
requests
langchain 
langchain_experimental
langchain-google-genai
google-generativeai
langchain-community
pypdf
chromadb
mysql-connector-python
mysqlclient